<html>
    <head>
        <style>
            html, body {
                padding: 0em;
                margin: 0em;

            }
            body {
                background-color: rgb(246 246 255);
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 2em;
            }
            h1 {
                max-width: 640px;
                margin: auto;
            }

            .profile {
                background: white;
                max-width: 640px;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <h1>PROFILE</h1>
        <div class="profile">
            <p>Email: <span role="text" aria-label="Account Email"><%= email %></span></p>
        </div>
    </body>
</html>
